@import "tailwindcss";

@font-face {
  font-family: "FivoSansBlack";
  src: url("/WEB_ELEMENT/Body_text/fivo-sans.black.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}

.nav-link {
  font-family: "FivoSansBlack", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", sans-serif;
  color: #19459D;
  text-transform: normal;
  font-size: 18px;  
}

.nav-link:hover {
  opacity: 0.7;
}

.nav-link-dropdown {
  font-family: "FivoSansBlack", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", sans-serif;
  color: #FFFFFF;
  text-transform: normal;
  font-size: 16px;  
}

.nav-link-dropdown:hover {
  opacity: 0.7;
}

@font-face {
  font-family: "FivoSansHeavy";
  src: url("/WEB_ELEMENT/Body_text/fivo-sans.heavy.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
}

.nav-link-heavy {
  font-family: "FivoSansHeavy", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", sans-serif;
  color: #FFFFFF;
  text-transform: normal;
  font-size: 30px;  
}

.nav-link-heavy:hover {
  opacity: 0.7;
}


:root {
  --background: #ffffff;
  --foreground: #000000;
}
/* 
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

